<section class="relative"
  data-header-color="white"
  data-menuBtn-bg="black"
>
  <div class="relative h-screen w-full z-0 flex flex-col justify-between items-center">
    <div class="flex flex-col justify-center items-center pt-40 ">
      <h1 class="text-white text-center font-medium text-4xl w-full">
        Disfrute de Tesla
      </h1>
      <p class="text-white text-center font-medium text-sm">
        Programe una prueba de conducción hoy mismo
      </p>
    </div>

    <div class="flex pb-24">
      <button type="button" class="text-white border-[3px] border-white backdrop-blur-sm px-4 py-2 hover:border-black hover:bg-black hover:opacity-75 transition-all ease-in-out duration-500">
        Prueba de conducción
      </button>
    </div>

  </div>

  <div class="absolute top-0 bottom-0 left-0 h-screen w-full object-cover -z-10 border bg-slate-400">
    <video class="h-full w-full object-fill" muted loop autoplay src="../../../../assets/video/public_video.webm"></video>
  </div>
</section>
