<app-header></app-header>

<div class="scroll-smooth snap-y snap-mandatory w-full h-screen overflow-y-auto overflow-x-hidden">
  <div class="snap-start">
    <app-welcome></app-welcome>
  </div>
  <div class="snap-start">
    <app-modelcar></app-modelcar>
  </div>
  <div class="snap-start">
    <app-modelcar></app-modelcar>
  </div>
  <div class="snap-start">
    <app-modelcar></app-modelcar>
  </div>
  <div class="snap-start">
    <app-modelcar></app-modelcar>
  </div>
  <div class="snap-start">
    <app-modelcar></app-modelcar>
  </div>
</div>

